body {
    background-color: #D7D8DE;
    font-family: 'Montserrat', cursive;
}

.navbar-nav .nav-link:hover {
    text-decoration: underline;
}

.navbar-nav li a {
    font-size: 14px;
    font-weight: 500
}

.navbar-brand img{
    position: relative;
    top: -2px;
}

.maintitle {
    color: #2B3542;
    font-size: 48px;
    line-height: 67.2px;
}